:root {
    --primary: rgb(254, 1, 129, 1);
    --primary-dark: rgb(209, 0, 105, 1);
    --primary-70: rgba(254, 1, 129, 0.7);
    --primary-50: rgba(254, 1, 129, 0.5);
    --primary-30: rgba(254, 1, 129, 0.3);
    --primary-10: rgba(254, 1, 129, 0.1);
    --logo: #430051;
    --sidebar-icon: #db34de;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#000),
        to(#000)
    );

    background-image: linear-gradient(0deg, rgb(254, 1, 129, 1), rgb(100, 5, 113));
}
