
.owl-carousel {
  .owl-stage-outer {
    padding: 0 20px 50px;
    margin: 0 -20px;
  }
}

button.owl-prev,
button.owl-next {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-color: #FFFFFF !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
  top: 50%;
  margin-top: -20px;
  outline: none !important;
  span{
    font-size: 45px;
    line-height: 30px;
    color: rgb(144, 144, 144);
  }
  &.disabled{
    span{
      opacity: 0.5;
    }
    opacity: 0.5;
  }
}

button.owl-prev{
  position: absolute;
  left: -42px;
}

button.owl-next {
  position: absolute;
  right: -42px;
}


